.flow-container .action-btn {
  margin-right: 10px;
  appearance: none;
  padding: 8px 15px;
  background: rgb(20 184 166 / var(--tw-bg-opacity)) !important;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
}

.react-flow__node.selected {
  border-style: dashed;
}